decorator==4.3.2
graphviz==0.10.1
ipython-genutils==0.2.0
Jinja2>=2.10.1
jsonschema==2.6.0
jupyter-core==4.4.0
MarkupSafe==1.1.0
nbformat==4.4.0
networkx==2.2
notebook>=5.7.8
pyflakes==2.1.0
six==1.12.0
traitlets==4.3.2
