def {{ step.name }}({%- for arg in step.pps_names -%}
    {{ arg }}: {{ (step.pps_types)[loop.index-1] }}
    {%- if loop.index < step.pps_names|length -%},
    {%- endif -%}
    {%- endfor -%}):
{%- if step.ins|length == 0 and step.outs|length == 0 and step.source|length == 0 %}
    pass
{%- else %}


    {% if step.config.timeout %}from kale.common.runutils import ttl as _kale_ttl{% endif %}
    from kale.marshal.decorator import marshal as _kale_marshal
    from kale.common.runutils import link_artifacts as _kale_link_artifacts

    _kale_pipeline_parameters = {
{%- if step.pps_names|length %}
    {%- for arg in step.pps_names -%}
        "{{ arg }}": {{ arg }}
    {%- if loop.index < step.pps_names|length -%},
    {%- endif -%}
    {%- endfor -%}
{%- endif %}}

    {% if step.config.timeout %}@_kale_ttl({{ step.config.timeout }}){% endif %}
    @_kale_marshal({{ step.ins }}, {{ step.outs }}, _kale_pipeline_parameters, "{{ marshal_path }}")
{{ step.rendered_source|indent(4, True) }}

    {{ step.source.__name__ }}()

    _kale_artifacts = {
{%- if step.artifacts|length %}
    {%- for artifact in step.artifacts -%}
        "{{ artifact.name }}": "{{ artifact.path }}"
    {%- if loop.index < step.pps_names|length -%},
    {%- endif -%}
    {%- endfor -%}
{%- endif %}}

    _kale_link_artifacts(_kale_artifacts)
{%- endif %}
